body {
    font-family: 'Open Sans', sans-serif;
}

h1 a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: rgb(161, 161, 161);
}

nav,
footer {
    display: flex;
    justify-content: center;
    margin: 15px 15px;
    box-shadow: 0px 0px 3px 3px rgb(116, 116, 116);
    border-radius: 20px;
}

.site-links,
.create-blog {
    padding: 0px 15px;
}

.site-links a,
.create-blog a {
    text-decoration: none;
    font-weight: 600;
}

.create-blog {
    margin: 16px 0px 16px 0px;
}

main {
    height: 80vh;
}

input,
label,
textarea {
    margin: 0px 15px;
    display: block;
}

form {
    margin: 15px 0 20px 0;
}

input[name='contentBox'] {
    width: 500px;
    height: 500px;
}

input[type='submit'] {
    margin-top: 15px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #0d6efd;
    color: #fff;
}

input[type='submit']:hover {
    background-color: #3b89ff;
}