<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <body>
        <nav>
            <h1>
                <a href="/">Welcome to My Blogs</a>
            </h1>
        </nav>

        <div class="site-links">
            <a href="/">/home</a><a href="/createBlog">/create-blog</a>
        </div>

        <main>
            <!-- creating a blog page -->
        </main>

        <%- include('partials/footer.ejs') %>
    </body>

</html>