<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <body>
        <nav>
            <h1>
                <a href="/">Welcome to My Blogs</a>
            </h1>
        </nav>

        <div class="site-links">
            <a href="/">/home</a>
        </div>

        <div class="create-blog">
            <a href="/createBlog">Create a Blog</a>
        </div>

        <main class="main-container">
            <!-- list of articles -->
        </main>
        <%- include('partials/footer.ejs') %>
    </body>

</html>